<!DOCTYPE html>
<html lang="zxx" class="no-js">

<body>
    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
                <div class="col-first">
                    <h1>Quên Mật Khẩu</h1>
                    <nav class="d-flex align-items-center justify-content-start">
                        <a href="/">Trang chủ<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="forgetPass">Quên mật khẩu</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    <!-- Start My Account -->
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="login-form">
                    <h3 class="billing-title text-center">Quên Mật Khẩu</h3>
                    <form action="#">
                        <input type="text" placeholder="Tên đăng nhập hoặc Email*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Tên đăng nhập hoặc Email*'" required class="common-input mt-20">
                        <input type="password" placeholder="Nhập Email hoặc số điện thoại*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Nhập Email hoặc số điện thoại*'" required class="common-input mt-20">
                        <button class="view-btn color-2 mt-20 w-100"><span>Xác Nhận</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End My Account -->
</body>

</html>