<!DOCTYPE html>
<html lang="zxx" class="no-js">

<body>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center">
                <div class="col-first">
                    <h1>Đăng Nhập</h1>
                    <nav class="d-flex align-items-center justify-content-start">
                        <a href="/">Trang chủ<i class="fa fa-caret-right" aria-hidden="true"></i></a>
                        <a href="login">Đăng nhập</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!-- Start My Account -->
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="login-form">
                    <h3 class="billing-title text-center">Đăng Nhập</h3>
                    <p class="text-center mt-80 mb-40">Chào mừng bạn trở lại! Đăng nhập vào tài khoản của bạn </p>
                    <form action="homeLogin">
                        <input type="text" placeholder="Tên đăng nhập hoặc Email*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Tên đăng nhập hoặc Email*'" required class="common-input mt-20">
                        <input type="password" placeholder="Mật khẩu*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Mật khẩu*'" required class="common-input mt-20">
                        <button class="view-btn color-2 mt-20 w-100" onclick="location.href='homeLogin'"><span>Đăng Nhập</span></button>
                        <div class="mt-20 d-flex align-items-center justify-content-between">
                            <div class="d-flex align-items-center"><input type="checkbox" class="pixel-checkbox"
                                    id="login-1"><label for="login-1">Nhớ tài khoản</label></div>
                            <a href="forgetPass">Quên mật khẩu?</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="register-form">
                    <h3 class="billing-title text-center">Đăng Ký</h3>
                    <p class="text-center mt-40 mb-30">Tạo tài khoản của riêng bạn </p>
                    <form action="#">
                        <input type="text" placeholder="Họ và tên*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Họ và tên*'" required class="common-input mt-20">
                        <input type="email" placeholder="Địa chỉ Email*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Địa chỉ Email*'" required class="common-input mt-20">
                        <input type="text" placeholder="Số điện thoại*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Số điện thoại*'" required class="common-input mt-20">
                        <input type="text" placeholder="Tên tài khoản*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Tên tài khoản*'" required class="common-input mt-20">
                        <input type="password" placeholder="Mật khẩu*" onfocus="this.placeholder=''"
                            onblur="this.placeholder = 'Mật khẩu*'" required class="common-input mt-20">
                        <button class="view-btn color-2 mt-20 w-100" ><span>Đăng Ký</span></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End My Account -->


    <!-- Start Most Search Product Area -->
    <section class="section-half">
        <div class="container">
            <div class="organic-section-title text-center">
                <h3>Các sản phẩm được tìm kiếm nhiều nhất</h3>
            </div>
            <div class="row mt-30">
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r1.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Blueberry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r2.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Cabbage</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r3.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Raspberry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r4.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Kiwi</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $189.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r5.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore Bell Pepper</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r6.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Blackberry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r7.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Brocoli</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r8.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Carrot</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $120.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r9.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Strawberry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r10.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Prixma MG2 Light Inkjet</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r11.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Cherry</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00 <del>$340.00</del></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6">
                    <div class="single-search-product d-flex">
                        <a href="#"><img src="img/r12.jpg" alt=""></a>
                        <div class="desc">
                            <a href="#" class="title">Pixelstore fresh Beans</a>
                            <div class="price"><span class="lnr lnr-tag"></span> $240.00 <del>$340.00</del></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Most Search Product Area -->

</body>

</html>